---
import settings from'#src/astro/settings.js';

import Icon from '#src/astro/components/Icon.astro';

const iconSize = '2rem';
---

<nav aria-label='Scroll to top'>
  <div>
    <a href='#' data-scroll-to-top>
      <Icon
        name='arrow-up'
        size={iconSize}
        title='Scroll to top'
        aria-label='Scroll to top'
      />
    </a>
  </div>
</nav>
